@theme {
  --color-*: initial;
}

@theme {
  --md-ref-palette-primary-0: #000000;
  --md-ref-palette-primary-5: #001414;
  --md-ref-palette-primary-10: #00201f;
  --md-ref-palette-primary-15: #002b2a;
  --md-ref-palette-primary-20: #003736;
  --md-ref-palette-primary-25: #004342;
  --md-ref-palette-primary-30: #00504e;
  --md-ref-palette-primary-35: #005d5b;
  --md-ref-palette-primary-40: #006a68;
  --md-ref-palette-primary-50: #008583;
  --md-ref-palette-primary-60: #359f9d;
  --md-ref-palette-primary-70: #55bbb8;
  --md-ref-palette-primary-80: #73d6d4;
  --md-ref-palette-primary-90: #90f3f0;
  --md-ref-palette-primary-95: #affffc;
  --md-ref-palette-primary-98: #e3fffd;
  --md-ref-palette-primary-99: #f2fffe;
  --md-ref-palette-primary-100: #ffffff;
  --md-ref-palette-secondary-0: #000000;
  --md-ref-palette-secondary-5: #021413;
  --md-ref-palette-secondary-10: #0b1f1e;
  --md-ref-palette-secondary-15: #162928;
  --md-ref-palette-secondary-20: #213433;
  --md-ref-palette-secondary-25: #2c3f3e;
  --md-ref-palette-secondary-30: #374a49;
  --md-ref-palette-secondary-35: #425655;
  --md-ref-palette-secondary-40: #4e6261;
  --md-ref-palette-secondary-50: #677b7a;
  --md-ref-palette-secondary-60: #809593;
  --md-ref-palette-secondary-70: #9aafae;
  --md-ref-palette-secondary-80: #b5cbc9;
  --md-ref-palette-secondary-90: #d1e7e5;
  --md-ref-palette-secondary-95: #dff5f3;
  --md-ref-palette-secondary-98: #e8fefc;
  --md-ref-palette-secondary-99: #f2fffe;
  --md-ref-palette-secondary-100: #ffffff;
  --md-ref-palette-tertiary-0: #000000;
  --md-ref-palette-tertiary-5: #011224;
  --md-ref-palette-tertiary-10: #0a1c2f;
  --md-ref-palette-tertiary-15: #16273a;
  --md-ref-palette-tertiary-20: #213145;
  --md-ref-palette-tertiary-25: #2c3d51;
  --md-ref-palette-tertiary-30: #37485d;
  --md-ref-palette-tertiary-35: #435469;
  --md-ref-palette-tertiary-40: #4f6076;
  --md-ref-palette-tertiary-50: #68788f;
  --md-ref-palette-tertiary-60: #8192aa;
  --md-ref-palette-tertiary-70: #9badc5;
  --md-ref-palette-tertiary-80: #b7c8e1;
  --md-ref-palette-tertiary-90: #d2e4fe;
  --md-ref-palette-tertiary-95: #eaf1ff;
  --md-ref-palette-tertiary-98: #f8f9ff;
  --md-ref-palette-tertiary-99: #fdfcff;
  --md-ref-palette-tertiary-100: #ffffff;
  --md-ref-palette-neutral-0: #000000;
  --md-ref-palette-neutral-5: #0f1111;
  --md-ref-palette-neutral-10: #191c1c;
  --md-ref-palette-neutral-15: #232626;
  --md-ref-palette-neutral-20: #2e3131;
  --md-ref-palette-neutral-25: #393c3c;
  --md-ref-palette-neutral-30: #454747;
  --md-ref-palette-neutral-35: #505352;
  --md-ref-palette-neutral-40: #5c5f5e;
  --md-ref-palette-neutral-50: #757777;
  --md-ref-palette-neutral-60: #8f9190;
  --md-ref-palette-neutral-70: #aaacab;
  --md-ref-palette-neutral-80: #c5c7c6;
  --md-ref-palette-neutral-90: #e1e3e2;
  --md-ref-palette-neutral-95: #f0f1f0;
  --md-ref-palette-neutral-98: #f8faf9;
  --md-ref-palette-neutral-99: #fbfcfb;
  --md-ref-palette-neutral-100: #ffffff;
  --md-ref-palette-neutral-variant-0: #000000;
  --md-ref-palette-neutral-variant-5: #0b1212;
  --md-ref-palette-neutral-variant-10: #161d1d;
  --md-ref-palette-neutral-variant-15: #202727;
  --md-ref-palette-neutral-variant-20: #2a3231;
  --md-ref-palette-neutral-variant-25: #353d3c;
  --md-ref-palette-neutral-variant-30: #414848;
  --md-ref-palette-neutral-variant-35: #4c5453;
  --md-ref-palette-neutral-variant-40: #58605f;
  --md-ref-palette-neutral-variant-50: #717978;
  --md-ref-palette-neutral-variant-60: #8a9291;
  --md-ref-palette-neutral-variant-70: #a5adac;
  --md-ref-palette-neutral-variant-80: #c0c8c7;
  --md-ref-palette-neutral-variant-90: #dce4e3;
  --md-ref-palette-neutral-variant-95: #ebf2f1;
  --md-ref-palette-neutral-variant-98: #f3fbfa;
  --md-ref-palette-neutral-variant-99: #f6fefd;
  --md-ref-palette-neutral-variant-100: #ffffff;
}
